# Dependencies
node_modules/
.pnp/
.pnp.js

# Editor
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/

# Misc
doc_*/
.DS_Store
Thumbs.db
TODO
*.excalidraw

# Sonar
.sonar/
.scannerwork/